{% extends 'admin/base.html.twig' %}

{% block title %}Categorie {% endblock %}

{% block content %}
    <h1>Categories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car_category in car_categories %}
            <tr>
                <td>{{ car_category.id }}</td>
                <td>{{ car_category.name }}</td>
                <td>
                    <a href="{{ path('app_admin_category_show', {'id': car_category.id}) }}">show</a>
                    <a href="{{ path('app_admin_category_edit', {'id': car_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_category_new') }}">Ajouter une nouvelle catégorie</a>
{% endblock %}
